.country-table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d
}

.country-table tr{
    display: flex;
    justify-content: space-between;
}
.country-table td{
    padding: 0.5rem;
}

.country-table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}

.map-covide{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    height: 453px
}
